appdirs==1.4.4
audioread==2.1.9
beniget==0.4.1
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.12
cloudpickle==2.0.0
decorator==5.1.1
gast==0.5.3
idna==3.3
joblib==1.1.0
librosa==0.9.1
llvmlite==0.38.0
madmom==0.16.1
mido==1.2.10
numba==0.55.1
packaging==21.3
pandas==1.4.2
ply==3.11
pooch==1.6.0
pybind11==2.9.2
pycparser==2.21
pydub==0.25.1
pyparsing==3.0.8
python-dateutil==2.8.2
pythran==0.11.0
pytz==2022.1
requests==2.27.1
resampy==0.2.2
scikit-learn==1.0.2
scipy==1.8.0
shap==0.40.0
six==1.16.0
slicer==0.0.7
SoundFile==0.10.3.post1
threadpoolctl==3.1.0
torch==1.11.0
tqdm==4.64.0
typing_extensions==4.2.0
urllib3==1.26.9
